:root {
  --panel-gap: 1rem;
  --light-gray: #ccc;
  --dark-gray: #333;
}

#root {
  display: grid;
  grid-template-areas: 
    "header header header"
    "sidebar-left content sidebar-right"
    "footer footer footer";
  grid-template-rows: 60px 1fr 80px;
  grid-template-columns: 200px 1fr 200px;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.header {
  grid-area: header;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebar-left, .sidebar-right {
  background-color: var(--dark-gray);
  color: white;
}

.sidebar-left {
  grid-area: sidebar-left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-right {
  grid-area: sidebar-right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--panel-gap);
}

.footer {
  grid-area: footer;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.botoes-controle {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.botoes-controle button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
}

.botoes-controle button:not(:first-child):not(:last-child) {
  font-size: 2rem;
}

.play-pause {
  font-size: 3rem;
}

.container-progresso {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progresso-total {
  min-width: 60%;
  max-width: 400px;
  height: 5px;
  background-color: var(--light-gray);
  padding: 0 3rem;
  border-radius: 10px;
  position: relative;
}

.progresso-atual {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #feb332;
  border-radius: 10px;
}

.capa {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 2rem;
  display: block; 
}

.marcador-posicao {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #feb332;
  left: 50%;
  top: -50%;
  border-radius: 50%;
}

.metricas-tempo {
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: var(--light-gray);
  font-weight: 600;
  margin-top: 0.1rem;
}